/*  your css code here. If applicable */
body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 300px;
    }